body {
    font-family: Helvetica;
    text-align: center;
    background-image: linear-gradient(to right, rgb(212, 234, 251), rgb(129, 177, 180));
}

.inputField {
    width: 20px;
    outline: none;
}

/* Hide the arrows of the input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frid {
    color: rgb(250, 56, 56);
}